
    

    <body>
        <div class="wrapper-page pt-5 ">
            <a href="~/Externa">
                <div class="m-t-40 card-box">

                    <div class="panel-body text-center">
                        <p class="transferencia text-muted font-25 m-t-20" style="font-size: 20px;">
                            Aproveitamento de alunos externos
                        </p>
                    </div>

                </div>
            </a>
            <div class="m-t-40 card-box">
                <a href="~/Externa">
                    <div class="panel-body text-center">
                        <p class="transferencia text-muted font-25 m-t-20" style="font-size: 20px;">
                            Aproveitamento de alunos internos
                        </p>
                    </div>
                </a>
            </div>
        </div>
	</body>
